@import './fonts.css';
@import './normalize.css';
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    --main-color: #fff;
    --main-dark: #1b1a1b;
    --main-gray: #F1F1F1;
    --main-dark-green: #02535F;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--main-dark);
    background-color: var(--main-color);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    padding: 0;
}

input,
textarea,
select {
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clear {
    clear: both;
}

.upper {
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.container_s {
    max-width: 1140px;
    padding-left: 30px;
    padding-right: 30px;
}

.hidden {
    display: none;
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section_padding_top {
    padding-top: 0;
}

.section_padding_bottom {
    padding-bottom: 0;
}

.section__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
}

.text_bottom-margin {
    margin-bottom: 30px;
}

.allign-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-bottom: 50px;
}