.text {
    line-height: 24px;
}

.top__title,
.middle__title,
.bottom__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
}


/*=====================================CONTENT================================*/

.container_padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.content__title,
.total__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 20px;
}

.content__list_styled {
    list-style: auto;
    padding-left: 28px;
}

.content__item {
    margin-bottom: 10px;
}

.content__item:last-child,
.total__item:last-child {
    margin-bottom: 0;
}

.content__item::marker {
    color: var(--main-dark-green);
}

.content__link {
    color: var(--main-dark-green);
    position: relative;
}

.content__link::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--main-dark);
}


/*============================================///////////////////////====================================*/


/*===========================================TOP SECTION=================================================*/

.top__container {
    min-height: 840px;
}

.top__img {
    float: left;
}

.top__img_margin {
    margin-right: 30px;
    margin-bottom: 30px;
}

.top__section-block {
    clear: both;
    float: left;
    max-width: 480px;
    margin-right: 40px;
}


/*============================================//////////////////========================================*/


/*=============================================MIDDLE===============================================*/

.section-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-img_margin-bottom {
    margin-bottom: 30px;
}

.image-block {
    margin-bottom: 30px;
}

.image-block__picture {
    display: block;
    border-top: 1px solid #000;
}

.image-block__description {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #5E5E5E;
}


/*=============================================/////////////////////=================================*/

.total__item {
    margin-bottom: 10px;
}

.total__list {
    margin-bottom: 30px;
}