.text {
    line-height: 24px;
}

.content {
    background-color: var(--main-gray);
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.content_bottom {
    padding-left: 30px;
    padding-right: 30px;
}

.content__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 20px;
}

.content__list_styled {
    list-style: auto;
    padding-left: 28px;
}

.content__item {
    margin-bottom: 10px;
}

.content__item:last-child {
    margin-bottom: 0;
}

.content__item_styled::marker {
    color: var(--main-dark-green);
}

.content__link {
    color: var(--main-dark-green);
    position: relative;
}

.content__link::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--main-dark);
}

.section-block_first {
    margin-bottom: 30px;
    height: 415px;
}

.section-block_second {
    height: 279px;
}

.section-block_float_left {
    float: left;
}

.section-block_float_right {
    float: right;
}

.section-block_margin_left {
    margin-left: 40px;
}

.section-block_margin_right {
    margin-right: 30px;
}

.image-block__description {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.image-block__picture {
    display: block;
    border-top: 1px solid #000;
}

.image-block__description_light-gray {
    color: #5E5E5E;
}

.result-list__item {
    margin-bottom: 10px;
}

.result-list__item:last-child {
    margin-bottom: 0;
}

.content_padding_left {
    padding-left: 15px;
}